<section class="section" ng-controller="authController">
	<div class="container">
		<div class="title-subtitle-block">
			<h2 class="title">Forgot your password?</h2>
			<p class="subtitle">
				<i>Enter your email.</i>
			</p>
		</div>
		<!-- title-subtitle-block -->
		<div class="narrow-form-holder sign-form-holder">
			<div class="colored-box grey">
				<form novalidate class="form" class="row col-md-12" role="form"
					name="resetform" method="post"
					ng-class="{ 'submitted' : resetsubmitted === true}"
					ng-submit="resetPassword(resetform)" accept-charset="UTF-8"
					id="login-nav">
					<div class="row-space-2 row-space-top-2">
						<small class="bg-success"> {{resetMessage}} </small>

					</div>
					<div class="row-space-2 row-space-top-2">
						<small class="bg-danger"> {{errorMessage}} </small>

					</div>
					<div style="display: none">
						<input name="utf8" type="hidden" value="✓"><input
							name="authenticity_token" type="hidden"
							value="EN12IZbqR/y8LjZjenJfIUeUjE2THTyKQAtp7cEM2wI=">
					</div>
					<div class="form-group email required user_email">
						<label class="email required control-label" for="user_email"><abbr
							title="required">*</abbr> Email</label> <input type="email"
							ng-model="userData.email" class="form-control" id="email"
							name="email" placeholder="Email address" required> <span
							class=" label label-danger"
							data-ng-show="resetsubmitted  && resetform.email.$error.required">Please
							enter Email !</span> <span class=" label label-danger"
							data-ng-show="resetsubmitted  && resetform.email.$error.email">Please
							enter valid Email !</span>

					</div>
					<div class="form-group">
						<input
							class="btn btn custom-btn custom-btn-blue custom-btn-secondary"
							name="commit" type="submit" value="Reset password">
					</div>
					<br>

					<div class="form-group text-center">
						Have an account? <a class="underlined action" href="#/login">Sign
							in</a> <a class="underlined action" href="#/register">Sign up</a>




					</div>
				</form>
			</div>
		</div>
	</div>
</section>

